name: fuzz
on:
  pull_request:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "0 6 * * 1" # montags

permissions:
  contents: read

jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Fuzz Decode
        run: go test -fuzz='^FuzzDecode$' -fuzztime=60s -fuzzminimizetime=0 .
      - name: Fuzz DecodeHeader
        run: go test -fuzz='^FuzzDecodeHeader$' -fuzztime=60s -fuzzminimizetime=0 .
